{% extends 'base.html.twig' %}

{% block title %}Plant A Tree | Homepage{% endblock %}

{% block body %}

    <div class="treeAmount">
    <h3>So far, {{ numberOfTrees }} trees have been planted by {{ numberOfUsers }} users. Well done !</h3>
    </div>
    <div id="mapId">
    </div>

{% endblock %}
