{% extends 'base.html.twig' %}

{% block title %}
    Plant A Tree | My account
{% endblock %}
{% block body %}

    {% for flashError in app.flashes('error') %}
        <div class="alert alert-danger alert-dismissible" role="alert">{{ flashError }}</div>
    {% endfor %}
    {% for flashSuccess in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible" role="alert">{{ flashSuccess }}</div>
    {% endfor %}

    {% block account %}
    {% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}



