@import "~bootstrap/scss/bootstrap";

body {
  background-color: forestgreen !important;
}

.treeAmount {
  justify-content: center;
  display: flex;
}

#mapId {
  height: 550px;
  margin: 50px auto;
  width: 1000px;
}
