{% extends 'base.html.twig' %}

{% block title %}
    Plant A Tree | Tree
{% endblock %}

{% block body %}
    {% block tree %}
        <h1>
            Hello World !
        </h1>
    {% endblock %}
{% endblock %}


